<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{../css/home_style.css}" />
	</head>
	<body>
		<div class="platform" th:object="${user}">
			<article class="menu">
				<article class="menu_top">
					<a href="/"
						><img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_menu"
					/></a>
					<br />
					<p class="menu_title_2">
						<a href="/home"><img th:src="@{../images/icon/GetStarted.png}" class="icon_menu" />Get Started</a>
					</p>
					<p class="menu_title_2">
						<a href="/profile/startup" th:if="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Startup</a>
						<a href="/profile/corporate" th:unless="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Company</a>
					</p>
					<p class="menu_title_2">
						<a href="/search"><img th:src="@{../images/icon/Search.png}" class="icon_menu" />Search</a>
					</p>
				</article>
				<article class="menu_middle">
					<article class="upgradeAds">
						<img th:src="@{../images/icon/Ads.png}" class="icon_menu" />
						<p class="Ad_line1">Unlock data customization with our Business Plan!</p>
						<p class="Ad_line2">Get a personalized solution for your business needs.</p>
						<a href="/settings/plan"><p class="Ad_button">Upgrade your plan</p></a>
					</article>
				</article>
				<article class="menu_bottom">
					<p class="menu_title_4" th:text="${user.getUsername()}"></p>
					<p class="menu_title_5">
						<span class="menu_title_5_1" th:if="${user.getAccountType()}">Startup</span>
						<span class="menu_title_5_1" th:unless="${user.getAccountType()}" th:text="${user.getBusinessPlan().getPlanName()}"></span>
						
						<span class="menu_title_5_2" th:if="${user.getAccountType()}">1/1 seats</span>
						<span class="menu_title_5_2" th:unless="${user.getAccountType()}">1/5 seats</span>
					</p>
					<p class="menu_title_2">
						<a href="/support"><img th:src="@{../images/icon/Support.png}" class="icon_menu" />Support</a>
					</p>
					<p class="menu_title_1">
						<a href=""><img th:src="@{../images/icon/Settings_blue.png}" class="icon_menu" />Settings</a>
					</p>
					<p class="menu_title_2">
						<a href="/logout"><img th:src="@{/images/icon/Logout.png}" class="icon_menu" />Logout</a>
					</p>
				</article>
			</article>
			<article class="CustomerType">
				<article class="CustomerType1">
					<a href="">
						<p class="CustomerType_title">Account Settings</p>
						<p class="CustomerType_description">Edit your account's personal profile and billing method</p>
					</a>
				</article>
				<article class="CustomerType2">
					<a href="/settings/team">
						<p class="CustomerType_title">Team Settings</p>
						<p class="CustomerType_description">Manage your team members and information</p>
					</a>
				</article>
				<article class="CustomerType2">
					<a href="/settings/bookmark">
						<p class="CustomerType_title">Bookmark Settings</p>
						<p class="CustomerType_description">Create, edit and delete bookmarks</p>
					</a>
				</article>
				<article class="CustomerType2">
					<a href="/settings/plan">
						<p class="CustomerType_title">Plan Settings</p>
						<p class="CustomerType_description">Manage your plan</p>
					</a>
				</article>
			</article>
			<article class="profile">
				<br />
				<br />
				<article class="flex1">
					<p class="accountsetting_title1"><a href="">PERSONAL</a></p>
				</article>
				<br />
				<article class="flex_left">
					<img th:src="@{../images/icon/blur_rectangle.png}" class="logo_startup" />
					<article class="bottom">
						<p class="member" th:text="${user.getFirstname()} + ' ' + ${user.getLastname()}">Name</p>
						<p class="member">Company Name</p>
					</article>
					<article class="bottom">
						<br />
						<p class="member">Admin</p>
					</article>
				</article>
				<form th:action="@{/updateuserinfo}" th:object="${newUser}" method="post">
					<br />
					<label for="name" class="profile_heading">First Name*</label>
					<input type="text" id="firstname" name="firstname" 
						placeholder="Update your first name" 
						th:value="${!#strings.isEmpty(user.getFirstname())} ? ${user.getFirstname()}" 
						th:field="*{firstname}" 
						class="filters2" required />
					<br />
					<label for="name" class="profile_heading">Last Name*</label>
					<input type="text" id="lastname" name="lastname" 
						placeholder="Update your last name" 
						th:value="${!#strings.isEmpty(user.getLastname())} ? ${user.getLastname()}" 
						th:field="*{lastname}" 
						class="filters2" required />
					<br />
					<label for="department" class="profile_heading">Department*</label>
					<input type="text" id="department" name="department" 
						placeholder="Update the department you are from" 
						th:value="${!#strings.isEmpty(user.getDepartment())} ? ${user.getDepartment()}" 
						th:field="*{department}" 
						class="filters2" required />
					<br />
					<label for="role" class="profile_heading">Role*</label>
					<input type="text" id="role" name="role" 
						placeholder="Update your role at your company" 
						th:value="${!#strings.isEmpty(user.getRole())} ? ${user.getRole()}" 
						th:field="*{role}" 
						class="filters2" required />
					<br />
					<label for="email" class="profile_heading">Work Email*</label>
					<input type="email" name="email-input" 
						placeholder="Update your email"  
						th:value="${!#strings.isEmpty(user.getEmail())} ? ${user.getEmail()}" 
						th:field="*{email}" 
						class="filters2" required />
					<br />
					<label for="foundingyr" class="profile_heading">Work No.*</label>
					<input type="number." id="phone" name="phone" 
						placeholder="Update your contact number" 
						th:value="${!#strings.isEmpty(user.getPhone())} ? ${user.getPhone()}" 
						th:field="*{phone}" 
						class="filters2" required />
					<br />
					<label for="linkedIn" class="profile_heading">Linkedin URL*</label>
					<input type="url" id="linkedIn" name="linkedIn" 
						placeholder="Update your Linkedin profile URL" 
						th:value="${!#strings.isEmpty(user.getLinkedIn())} ? ${user.getLinkedIn()}" 
						th:field="*{linkedIn}" 
						class="filters2" required />
					<br />
					<label for="uname" class="profile_heading">Username*</label>
					<input type="text" id="uname" name="uname" 
						placeholder="Update your username" 
						th:value="${!#strings.isEmpty(user.getUsername())} ? ${user.getUsername()}" 
						th:field="*{username}" 
						class="filters2" required />
					<br />
					<label for="pword" class="profile_heading">Password</label>
					<span class="password-input">
						<input type="password" id="pwordInput" 
						placeholder="Update your password" 
						th:field="*{password}" 
						name="psw" class="filters2" />
						<img th:src="@{../images/icon/Password.png}" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" class="nav_language" />
					</span>
					<br />
					<br />
					<button type="submit" class="button">Save</button>
				</form>
				<br />
				<br />
				<br />
			</article>
		</div>
		<br />
		<br />
		<br />
	</body>
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	<script th:src="@{../js/smoothScroll.js}"></script>
	<script th:src="@{../js/lightbox-plus-jquery.js}"></script>
	<script th:src="@{../js/features1.js}"></script>
	<script>
		const fieldsToTest = ['firstname', 'lastname', 'deparment', 'role'];
		const inputFields = document.querySelectorAll('input');

		inputFields.forEach(inputField => {
			if (fieldsToTest.includes(inputField.id)) {
				inputField.addEventListener('input', function(event) {
					const regex = /^[a-zA-Z\s]*$/;
					const inputValue = event.target.value;
					if (!regex.test(inputValue)) {
						event.target.value = inputValue.slice(0, -1);
					}
				});
			}
		});
	</script>
</html>
