<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" th:href="@{../images/logo/Favicon/favicon.png}">
		<link rel="stylesheet" th:href="@{../css/home_style.css}" />
	</head>
	<body>
		<div class="platform" th:object="${user}">
			<article class="menu">
				<article class="menu_top">
					<a href="/"
						><img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_menu"
					/></a>
					<br />
					<p class="menu_title_2">
						<a href="/home"><img th:src="@{../images/icon/GetStarted.png}" class="icon_menu" />Get Started</a>
					</p>
					<p class="menu_title_2">
						<a href="/profile/startup" th:if="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Startup</a>
						<a href="/profile/corporate" th:unless="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Company</a>
					</p>
					<p class="menu_title_1">
						<a href="/search"><img th:src="@{../images/icon/Search_blue.png}" class="icon_menu" />Search</a>
					</p>
				</article>
				<article class="menu_middle">
					<article class="upgradeAds">
						<img th:src="@{../images/icon/Ads.png}" class="icon_menu" />
						<p class="Ad_line1">Unlock data customization with our Business Plan!</p>
						<p class="Ad_line2">Get a personalized solution for your business needs.</p>
						<a href="/settings/plan"><p class="Ad_button">Upgrade your plan</p></a>
					</article>
				</article>
				<article class="menu_bottom">
					<p class="menu_title_4" th:text="${user.getUsername()}"></p>
					<p class="menu_title_5">
						<span class="menu_title_5_1" th:text="${user.getBusinessPlanName()}"></span>
						
						<span class="menu_title_5_2" th:if="${user.getAccountType() || user.getBusinessPlan() != 3}">1/1 seats</span>
						<span class="menu_title_5_2" th:unless="${user.getAccountType()}" th:text="${seats} + '/5 seats'"></span>
					</p>
					<p class="menu_title_2">
						<a href="/support"><img th:src="@{../images/icon/Support.png}" class="icon_menu" />Support</a>
					</p>
					<p class="menu_title_2">
						<a href="/settings/account"><img th:src="@{../images/icon/Settings.png}" class="icon_menu" />Settings</a>
					</p>
					<p class="menu_title_2">
						<a href="/logout"><img th:src="@{/images/icon/Logout.png}" class="icon_menu" />Logout</a>
					</p>
				</article>
			</article>
			<article class="Search" th:object="${company}">
				<article class="Search1">
					<p class="Search_title"></p>
					<article class="flex_left">
						<img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo" />
						<article class="CompanyContent">
							<p class="CompanyContent_CompanyName" th:text="${company.getCompanyName()}"></p>
							<!-- <article class="flex_companycontentPreference">
								<img th:src="@{../images/icon/Like.png}" class="preferenceIcon" />
								<p class="preference">Like</p>
								<img th:src="@{../images/icon/Dislike.png}" class="preferenceIcon" />
								<p class="preference">Dislike</p>
							</article> -->
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info">Website</p>
							<p class="CompanyContent_info">Employees</p>
							<p class="CompanyContent_info">Founded on</p>
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info1" th:text="${company.getWebsite()}"></p>
							<p class="CompanyContent_info1" th:text="${company.getCompanySize()}"></p>
							<p class="CompanyContent_info1" th:text="${company.getFoundYear()}"></p>
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info">Industry</p>
							<p class="CompanyContent_info">Region</p>
							<p class="CompanyContent_info">Founders</p>
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info1" th:text="${#strings.substringAfter(company.getIndustry(), '-')}"></p>
							<p class="CompanyContent_info1" th:text="${company.getHeadquarter()}"></p>
							<p class="CompanyContent_info1" th:text="${company.getFounders()}"></p>
						</article>
					</article>
					<br>
					<article class="CompanyCardDetailTab">
						<a onclick="getDetails(this.getAttribute('data-company-id'))" th:attr="data-company-id=${company.getId()}" class="CompanyCardDetail_title"> Basic Information </a>
						<a onclick="getProducts(this.getAttribute('data-company-id'))" th:attr="data-company-id=${company.getId()}" class="CompanyCardDetail_title"> Product </a>
						<a onclick="getFinance(this.getAttribute('data-company-id'))" th:attr="data-company-id=${company.getId()}" class="CompanyCardDetail_title"> Finance </a>
						<a onclick="getContacts(this.getAttribute('data-company-id'))" th:attr="data-company-id=${company.getId()}" class="CompanyCardDetail_title"> Team </a>
						<a class="CompanyCardDetail_title1"> Locations </a>
					</article>
					<article style="max-height:65vh;overflow:auto;word-wrap: break-word;">
						<article 
						class="flex_left_product" 
						style="cursor: pointer;" 
						th:if="${company.getLocation1() != null and !#strings.isEmpty(company.getLocation1())}"
						th:attr="data-location=${#strings.escapeJava(company.getLocation1())}"
						onclick="showMap(this.getAttribute('data-location'))">
							<img th:src="@{../images/icon/mapmark.png}" class="icon_menu" th:text="${company.getLocation1()}" />
							<!-- <a href="https://www.flaticon.com/free-icons/pin" title="pin icons">Pin icons created by Freepik - Flaticon</a> -->
							<img th:src="@{../images/icon/click.gif}" class="icon_menu" >
							<!-- <a href="https://www.flaticon.com/free-animated-icons/finger" title="finger animated icons">Finger animated icons created by Freepik - Flaticon</a> -->
						</article>
						<br th:if="${company.getLocation1() != null and !#strings.isEmpty(company.getLocation1())}">
						
						<article 
						class="flex_left_product" 
						style="cursor: pointer;" 
						th:if="${company.getLocation2() != null and !#strings.isEmpty(company.getLocation2())}"
						th:attr="data-location=${#strings.escapeJava(company.getLocation2())}"
						onclick="showMap(this.getAttribute('data-location'))">
							<img th:src="@{../images/icon/mapmark.png}" class="icon_menu" th:text="${company.getLocation2()}" />
							<!-- <a href="https://www.flaticon.com/free-icons/pin" title="pin icons">Pin icons created by Freepik - Flaticon</a> -->
							<img th:src="@{../images/icon/click.gif}" class="icon_menu" >
							<!-- <a href="https://www.flaticon.com/free-animated-icons/finger" title="finger animated icons">Finger animated icons created by Freepik - Flaticon</a> -->
						</article>
						<br th:if="${company.getLocation2() != null and !#strings.isEmpty(company.getLocation2())}">
						
						<article 
						class="flex_left_product" 
						style="cursor: pointer;" 
						th:if="${company.getLocation3() != null and !#strings.isEmpty(company.getLocation3())}"
						th:attr="data-location=${#strings.escapeJava(company.getLocation3())}"
						onclick="showMap(this.getAttribute('data-location'))">
							<img th:src="@{../images/icon/mapmark.png}" class="icon_menu" th:text="${company.getLocation3()}" />
							<!-- <a href="https://www.flaticon.com/free-icons/pin" title="pin icons">Pin icons created by Freepik - Flaticon</a> -->
							<img th:src="@{../images/icon/click.gif}" class="icon_menu" >
							<!-- <a href="https://www.flaticon.com/free-animated-icons/finger" title="finger animated icons">Finger animated icons created by Freepik - Flaticon</a> -->
						</article>
						<br th:if="${company.getLocation3() != null and !#strings.isEmpty(company.getLocation3())}">

						<article 
						class="flex_left_product" 
						style="cursor: pointer;" 
						th:if="${company.getLocation4() != null and !#strings.isEmpty(company.getLocation4())}"
						th:attr="data-location=${#strings.escapeJava(company.getLocation4())}"
						onclick="showMap(this.getAttribute('data-location'))">
							<img th:src="@{../images/icon/mapmark.png}" class="icon_menu" th:text="${company.getLocation4()}" />
							<!-- <a href="https://www.flaticon.com/free-icons/pin" title="pin icons">Pin icons created by Freepik - Flaticon</a> -->
							<img th:src="@{../images/icon/click.gif}" class="icon_menu" >
							<!-- <a href="https://www.flaticon.com/free-animated-icons/finger" title="finger animated icons">Finger animated icons created by Freepik - Flaticon</a> -->
						</article>
						<br th:if="${company.getLocation4() != null and !#strings.isEmpty(company.getLocation4())}">

						<article 
						class="flex_left_product" 
						style="cursor: pointer;" 
						th:if="${company.getLocation5() != null and !#strings.isEmpty(company.getLocation5())}"
						th:attr="data-location=${#strings.escapeJava(company.getLocation5())}"
						onclick="showMap(this.getAttribute('data-location'))">
							<img th:src="@{../images/icon/mapmark.png}" class="icon_menu" th:text="${company.getLocation5()}" />
							<!-- <a href="https://www.flaticon.com/free-icons/pin" title="pin icons">Pin icons created by Freepik - Flaticon</a> -->
							<img th:src="@{../images/icon/click.gif}" class="icon_menu" >
							<!-- <a href="https://www.flaticon.com/free-animated-icons/finger" title="finger animated icons">Finger animated icons created by Freepik - Flaticon</a> -->
						</article>
						<br th:if="${company.getLocation5() != null and !#strings.isEmpty(company.getLocation5())}">

						<!-- Free service provided by https://embedmap.org/ -->
						<iframe style="height: 50vh; width: 100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?q=&amp;output=embed"></iframe>
						<script type='text/javascript' th:src="@{../js/map.js}"></script>
					</article>

					<!-- <article class="menu_bottom_similarcompanies">
						<p class="SimilarCompanies">Similiar Companies</p>
						<article class="grid_similarcompanies">
							<a href="/company/info">
								<article class="card_similarcompanies">
									<article class="card_top">
										<img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_sim" />
										<article class="card_right_similarCompanies">
											<p class="card_heading">Company</p>
											<p class="card_content">Region</p>
											<p class="card_technology_sim">Technology</p>
										</article>
									</article>
								</article>
							</a>
						</article>
					</article> -->
				</article>
			</article>
		</div>
		<br />
		<br />
		<br />
	</body>
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	<script th:src="@{../js/smoothScroll.js}"></script>
	<script th:src="@{../js/lightbox-plus-jquery.js}"></script>
	<script th:src="@{../js/features1.js}"></script>
	<script>
		function getDetails(id) {
			window.location.replace("/company/info?" + "id=" + id);
		}

		function getProducts(id) {
			window.location.replace("/company/products?" + "id=" + id);
		}

		function getFinance(id) {
			window.location.replace("/company/finance?" + "id=" + id);
		}

		function getContacts(id) {
			window.location.replace("/company/team?" + "id=" + id);
		}

		function showMap(location) {
			var mapIframe = document.getElementById('gmap_canvas');
			mapIframe.style.display = 'block';
			var mapSrc = 'https://maps.google.com/maps?q=' + encodeURIComponent(location) + '&output=embed';
			mapIframe.src = mapSrc;
		}
	</script>
</html>
