<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{../css/home_style.css}" />
	</head>
	<body>
		<div class="platform" th:object="${user}">
			<article class="menu">
				<article class="menu_top">
					<a href="/"
						><img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_menu"
					/></a>
					<br />
					<p class="menu_title_2">
						<a href="/home"><img th:src="@{../images/icon/GetStarted.png}" class="icon_menu" />Get Started</a>
					</p>
					<p class="menu_title_2">
						<a href="/profile/startup" th:if="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Startup</a>
						<a href="/profile/startup" th:unless="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Company</a>
					</p>
					<p class="menu_title_1">
						<a href="/search"><img th:src="@{../images/icon/Search_blue.png}" class="icon_menu" />Search</a>
					</p>
				</article>
				<article class="menu_middle">
					<article class="upgradeAds">
						<img th:src="@{../images/icon/Ads.png}" class="icon_menu" />
						<p class="Ad_line1">Unlock data customization with our Business Plan!</p>
						<p class="Ad_line2">Get a personalized solution for your business needs.</p>
						<a href="/settings/plan"><p class="Ad_button">Upgrade your plan</p></a>
					</article>
				</article>
				<article class="menu_bottom">
					<p class="menu_title_4" th:text="${user.getUsername()}"></p>
					<p class="menu_title_5">
						<span class="menu_title_5_1" th:if="${user.getAccountType()}">Startup</span>
						<span class="menu_title_5_1" th:unless="${user.getAccountType()}" th:text="${user.getBusinessPlan().getPlanName()}"></span>
						
						<span class="menu_title_5_2" th:if="${user.getAccountType()}">1/1 seats</span>
						<span class="menu_title_5_2" th:unless="${user.getAccountType()}">1/5 seats</span>
					</p>
					<p class="menu_title_2">
						<a href="/support"><img th:src="@{../images/icon/Support.png}" class="icon_menu" />Support</a>
					</p>
					<p class="menu_title_2">
						<a href="/settings/account"><img th:src="@{../images/icon/Settings.png}" class="icon_menu" />Settings</a>
					</p>
					<p class="menu_title_2"><img th:src="@{../images/icon/Logout.png}" class="icon_menu" />Logout</p>
				</article>
			</article>

			<article class="Search">
				<article class="Search1">
					<p class="Search_title">Recent</p>
					<article class="flex_left">
						<img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo" />
						<article class="CompanyContent">
							<p class="CompanyContent_CompanyName">Company Name</p>
							<article class="card_flex">
								<p class="target">tag-1</p>
								<p class="target">tag-2</p>
								<p class="target">tag-3</p>
							</article>
							<article class="flex_companycontentPreference">
								<img th:src="@{../images/icon/Like.png}" class="preferenceIcon" />
								<p class="preference">Like</p>
								<img th:src="@{../images/icon/Dislike.png}" class="preferenceIcon" />
								<p class="preference">Dislike</p>
							</article>
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info">Website</p>
							<p class="CompanyContent_info">Employees</p>
							<p class="CompanyContent_info">Founded on</p>
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info1">Website</p>
							<p class="CompanyContent_info1">Employees</p>
							<p class="CompanyContent_info1">Founded on</p>
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info">Industry</p>
							<p class="CompanyContent_info">Region</p>
						</article>
						<article class="CompanyContent">
							<p class="CompanyContent_info1">Website</p>
							<p class="CompanyContent_info1">Employees</p>
							<p class="CompanyContent_info1">Founded on</p>
						</article>
					</article>
					<article class="CompanyCardDetailTab">
						<a href="/company/info" class="CompanyCardDetail_title"> Basic Information </a>
						<a href="/company/products" class="CompanyCardDetail_title1"> Product </a>
						<a href="/company/finance" class="CompanyCardDetail_title"> Finance </a>
						<a href="/company/contact" class="CompanyCardDetail_title"> Contacts </a>
					</article>
					<div class="scroll">
						<article class="flex_left_product">
							<img th:src="@{../images/icon/blur_rectangle.png}" class="logo_product" />
							<article class="CompanyContent_productName">Product Name</article>
							<article>
								<p class="CompanyContent_description1">Description</p>
								<p class="CompanyContent_content1">elit. Morbi a neque a magna sodales pharetra. Mauris eu lorem in orci</p>
							</article>
							<article>
								<p class="CompanyContent_description">File</p>
								<a href="" class="productInfo">Product Info</a>
							</article>
						</article>
					</div>
					<article class="menu_bottom_similarcompanies">
						<p class="SimilarCompanies">Similiar Companies</p>
						<article class="grid_similarcompanies">
							<a href="/company/info">
								<article class="card_similarcompanies">
									<article class="card_top">
										<img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_sim" />
										<article class="card_right_similarCompanies">
											<p class="card_heading">Company</p>
											<p class="card_content">Region</p>
											<p class="card_technology_sim">Technology</p>
										</article>
									</article>
								</article> </a
							><a href="/company/info">
								<article class="card_similarcompanies">
									<article class="card_top">
										<img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_sim" />
										<article class="card_right_similarCompanies">
											<p class="card_heading">Company</p>
											<p class="card_content">Region</p>
											<p class="card_technology_sim">Technology</p>
										</article>
									</article>
								</article> </a
							><a href="/company/info">
								<article class="card_similarcompanies">
									<article class="card_top">
										<img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_sim" />
										<article class="card_right_similarCompanies">
											<p class="card_heading">Company</p>
											<p class="card_content">Region</p>
											<p class="card_technology_sim">Technology</p>
										</article>
									</article>
								</article> </a
							><a href="/company/info">
								<article class="card_similarcompanies">
									<article class="card_top">
										<img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_sim" />
										<article class="card_right_similarCompanies">
											<p class="card_heading">Company</p>
											<p class="card_content">Region</p>
											<p class="card_technology_sim">Technology</p>
										</article>
									</article>
								</article>
							</a>
						</article>
					</article>
				</article>
			</article>
		</div>
		<br />
		<br />
		<br />
	</body>
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	<script th:src="@{../js/smoothScroll.js}"></script>
	<script th:src="@{../js/lightbox-plus-jquery.js}"></script>
	<script th:src="@{../js/features1.js}"></script>
</html>
