<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="style.css" />
		<style>

		.container {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
		.box {
			text-align: center;
			min-width: 45vw;
			max-width: 45vw;
		}
		.error_text{
			font-size: 36px;
			font-weight: 600;
			color: #171b23;
			text-align: center;
		}
		a{
			text-decoration: none;
		}
		</style>
	</head>
	<body>
		<div class="navigationbar">
			<div class="navigationbox">
				<div class="nav">
					<a><img th:src="@{/images/logo/High Resolution Logo Files/Original on Transparent.png}" class="nav_logo" /></a>
				</div>
			</div>
		</div>
		<div>
			<div class="container">
				<div class="box">
						<p class="error_text">System Update</p>
						<p class="error_text">We'll be back soon!</p>
						<p class="error_text">We are currently under maintenance</p>
						<br><br><br>
						<p>If you have any urgent enquiries, please contact us at 
							<a href="mailto:info@startline.vip ">info@startline.vip</a>
						</p>
						<p>We apologize for any inconvenience caused during this time.</p>
				</div>
				<div class="box">
					<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script><dotlottie-player src="https://lottie.host/f42e35fc-a108-4e0b-96f0-c53784a740c0/wdEDATN1mv.lottie" background="transparent" speed="1" loop autoplay></dotlottie-player>
				</div>
			</div>
		</div>
	</body>
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	<script src="lightbox-plus-jquery.js"></script>
	<script src="features.js"></script>
</html>
