<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" th:href="@{/images/logo/Favicon/favicon.png}">
		<link rel="stylesheet" th:href="@{./css/style.css}" />
	</head>
	<body>
		<div class="navigationbar" th:object="${user}">
			<div class="navigationbox">
				<div class="nav">
					<a href="/"><img th:src="@{/images/logo/High Resolution Logo Files/Original on Transparent.png}" class="nav_logo" /></a>
					<a href="/aboutus">Why Startline</a>
					<a href="/price">Price</a>
					<article class="dropdown">
						<span>Resources</span>
						<div class="dropdown-content">
							<a href="/support">Support</a><br />
							<a href="/contact">Contact</a>
						</div>
					</article>
				</div>
				<div class="nav">
					<article class="dropdown_language">
						<img th:src="@{/images/language.png}" class="nav_language" />
						<div class="dropdown-content_language">
							<a href="">English</a><br />
							<a href="">Chinese</a><br />
							<a href="">한국어</a><br />
							<a href="">Japanese</a>
						</div>
					</article>
					<a href="/startup/login" class="nav_login" th:if="${user == null}">Login</a>
					<a href="/home" class="nav_login" th:unless="${user == null}">Home</a>
					<a href="/register" class="nav_join" th:if="${user == null}">Join</a>
					<a href="/logout" class="nav_login" th:unless="${user == null}">Logout</a>
				</div>
			</div>
		</div>
		<div class="pricing">
			<br />
			<br />
			<p class="page_title"><img th:src="@{/images/Pricing.png}" class="page_title_ICON" />PRICING</p>
			<br />
			<p class="pricing_subtitle">Choose the plan that matches your needs</p>
			<article class="pricing1">
				<article class="pricing2">
					<p class="pricing2_1">Free Forever</p>
					<br />
					<p class="pricing2_2">$0</p>
					<br />
					<p class="pricing2_3">Global Database</p>
					<p class="pricing2_3"></p>
					<p class="pricing2_3"></p>
					<br />
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Unlock Startline's AI-powered Matching Features</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Search 100 company profiles per month with basic content</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Access to basic information</p>
					</article>
				</article>
				<article class="pricing2">
					<p class="pricing2_1">Business</p>
					<br />
					<p class="pricing2_2">$49/month</p>
					<br />
					<p class="pricing2_3">Global Database</p>
					<p class="pricing2_3">Data Customization</p>
					<p class="pricing2_3"></p>
					<br />
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Unlock Startline's AI-powered Matching Features</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Search 600 company profiles per month with full content</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Receive customized content from our dedicated success manager</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Free upgrade to future platform features</p>
					</article>
				</article>
				<article class="pricing2">
					<p class="pricing2_1">Enterprise</p>
					<br />
					<p class="pricing2_2">$199/month</p>
					<br />
					<p class="pricing2_3">Global Database</p>
					<p class="pricing2_3">Data Customization</p>
					<p class="pricing2_3">Professional Consulting Support</p>
					<br />
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Unlock Startline's AI-powered Matching Features</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Access to unlimited company profiles with full results</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Receive customized content from our assigned success manager</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Get professional consulting support from industry renowned subject matter expert</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Free upgrade to future platform features</p>
					</article>
					<article class="flex_left">
						<img th:src="@{/images/check.png}" class="checkIcon" />
						<p class="pricing2_4">Collaborate with up to 5 team members</p>
					</article>
				</article>
			</article>
			<br />
			<br />
			<p class="pricing_label">All prices are in USD</p>
		</div>
		<div class="footer1">
			<div class="footer1_1">
				<h3>Questions? Talk to us</h3>
				<h4>We are here around the clock to assist you</h4>
			</div>
			<br />
			<br />
			<br />
			<div class="footer1_2">
				<a href="/register" class="trystartlinenow_btn">Try Startline Now</a>
				<a href="/contact" class="contactus_btn">Contact Us</a>
			</div>
		</div>

		<div class="footer2">
			<div class="footer2_1">
				<article class="footer2_11">
					<p><img th:src="@{/images/logo/High Resolution Logo Files/Original on Transparent.png}" class="footer_logo" /></p>
					<br />
					<p class="footer_logo_content">
						Helping companies like yours improve efficiency and boost productivity with a personalized platform to boost your satisfaction.
					</p>
				</article>
				<article class="footer2_12">
					<p class="footer_title">Product</p>
					<br />
					<p class="footer_content"><a href="/aboutus"> Why Startline</a></p>
					<br />
					<p class="footer_content"><a href="/price">What we offer</a></p>
				</article>
				<article class="footer2_12">
					<p class="footer_title">Resources</p>
					<br />
					<p class="footer_content"><a href="/support">Support</a></p>
					<br />
					<p class="footer_content"><a href="/contact">Contact</a></p>
				</article>
				<article class="footer2_12">
					<p class="footer_title">Company</p>
					<br />
					<p class="footer_content"><a href="/aboutus">About</a></p>
					<br />
					<p class="footer_content"><a href="/terms" target="_blank">Terms</a></p>
					<br />
					<p class="footer_content"><a href="/privacy" target="_blank">Privacy</a></p>
				</article>
			</div>
			<br />
			<br />
			<div class="footer2_2"></div>
			<br />
			<div class="footer2_3">
				<p class="footer2_31">© 2024 Startline. Icons by Cristian MuÑoz, licensed under CC BY 4.0 All rights reserved.</p>
			</div>
		</div>
	</body>
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	<script th:src="@{/js/smoothScroll.js}"></script>
	<script th:src="@{/js/lightbox-plus-jquery.js}"></script>
	<script th:src="@{/js/priceshowcase.js}"></script>
</html>
