<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" th:href="@{../images/logo/Favicon/favicon.png}">
		<link rel="stylesheet" th:href="@{../css/home_style.css}" />
	</head>
	<body>
		<div class="platform" th:object="${user}">
			<article class="menu">
				<article class="menu_top">
					<a href="/"
						><img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_menu"
					/></a>
					<br />
					<p class="menu_title_2">
						<a href="/home"><img th:src="@{../images/icon/GetStarted.png}" class="icon_menu" />Get Started</a>
					</p>
					<p class="menu_title_2">
						<a href="/profile/startup" th:if="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Startup</a>
						<a href="/profile/corporate" th:unless="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Company</a>
					</p>
					<p class="menu_title_2">
						<a href="/search"><img th:src="@{../images/icon/Search.png}" class="icon_menu" />Search</a>
					</p>
				</article>
				<article class="menu_middle">
					<article class="upgradeAds">
						<img th:src="@{../images/icon/Ads.png}" class="icon_menu" />
						<p class="Ad_line1">Unlock data customization with our Business Plan!</p>
						<p class="Ad_line2">Get a personalized solution for your business needs.</p>
						<a href="/settings/plan"><p class="Ad_button">Upgrade your plan</p></a>
					</article>
				</article>
				<article class="menu_bottom">
					<p class="menu_title_4" th:text="${user.getUsername()}"></p>
					<p class="menu_title_5">
						<span class="menu_title_5_1" th:text="${user.getBusinessPlanName()}"></span>
						
						<span class="menu_title_5_2" th:if="${user.getAccountType() || user.getBusinessPlan() != 3}">1/1 seats</span>
						<span class="menu_title_5_2" th:unless="${user.getAccountType()}" th:text="${seats} + '/5 seats'"></span>
					</p>
					<p class="menu_title_2">
						<a href="/support"><img th:src="@{../images/icon/Support.png}" class="icon_menu" />Support</a>
					</p>
					<p class="menu_title_2">
						<a href="/settings/account"><img th:src="@{../images/icon/Settings.png}" class="icon_menu" />Settings</a>
					</p>
					<p class="menu_title_2">
						<a href="/logout"><img th:src="@{/images/icon/Logout.png}" class="icon_menu" />Logout</a>
					</p>
				</article>
			</article>
			<article class="CustomerType">
				<a href="">
					<article class="CustomerType2" th:class="${user.getAccountType()} ? 'CustomerType2' : 'CustomerType2 noAccessRight'">
						<p class="CustomerType_title">Startup</p>
						<p class="CustomerType_description">Update your startup information to share it with companies from all around the world!</p>
					</article>
				</a>
				
				<a href="">
					<article class="CustomerType1">
						<p class="CustomerType_title">Corporate</p>
						<p class="CustomerType_description">Update your corporate needs so that we can find the technology thats just right for you!</p>
					</article>
				</a>
			</article>
			<article class="profile" th:object="${corporate}">
				<!-- <p class="profile_title">CEO Contact</p>
				<br />
				<br />
				<label for="email" class="profile_heading1">CEO's Work Email*</label>
				<input type="email" id="email" name="email" placeholder="name@company.com" class="filters2" required />
				<br />
				<label for="phone" class="profile_heading1">CEO's Work Phone*</label>
				<select id="areaCode" name="areaCode" class="filters">
					<option value="1">+1</option>
					<option value="7">+7</option>
					<option value="20">+20</option>
					<option value="27">+27</option>
					<option value="30">+30</option>
					<option value="31">+31</option>
					<option value="32">+32</option>
					<option value="33">+33</option>
					<option value="34">+34</option>
					<option value="36">+36</option>
					<option value="39">+39</option>
					<option value="40">+40</option>
					<option value="41">+41</option>
					<option value="43">+43</option>
					<option value="44">+44</option>
					<option value="45">+45</option>
					<option value="46">+46</option>
					<option value="47">+47</option>
					<option value="48">+48</option>
					<option value="49">+49</option>
					<option value="51">+51</option>
					<option value="52">+52</option>
					<option value="53">+53</option>
					<option value="54">+54</option>
					<option value="55">+55</option>
					<option value="56">+56</option>
					<option value="57">+57</option>
					<option value="58">+58</option>
					<option value="60">+60</option>
					<option value="61">+61</option>
					<option value="62">+62</option>
					<option value="63">+63</option>
					<option value="64">+64</option>
					<option value="65">+65</option>
					<option value="66">+66</option>
					<option value="81">+81</option>
					<option value="82">+82</option>
					<option value="84">+84</option>
					<option value="86">+86</option>
					<option value="90">+90</option>
					<option value="91">+91</option>
					<option value="92">+92</option>
					<option value="93">+93</option>
					<option value="94">+94</option>
					<option value="95">+95</option>
					<option value="98">+98</option>
					<option value="211">+211</option>
					<option value="212">+212</option>
					<option value="213">+213</option>
					<option value="216">+216</option>
					<option value="218">+218</option>
					<option value="220">+220</option>
					<option value="221">+221</option>
					<option value="222">+222</option>
					<option value="223">+223</option>
					<option value="224">+224</option>
					<option value="225">+225</option>
					<option value="226">+226</option>
					<option value="227">+227</option>
					<option value="228">+228</option>
					<option value="229">+229</option>
					<option value="230">+230</option>
					<option value="231">+231</option>
					<option value="232">+232</option>
					<option value="233">+233</option>
					<option value="234">+234</option>
					<option value="235">+235</option>
					<option value="236">+236</option>
					<option value="237">+237</option>
					<option value="238">+238</option>
					<option value="239">+239</option>
					<option value="240">+240</option>
					<option value="241">+241</option>
					<option value="242">+242</option>
					<option value="243">+243</option>
					<option value="244">+244</option>
					<option value="245">+245</option>
					<option value="246">+246</option>
					<option value="248">+248</option>
					<option value="249">+249</option>
					<option value="250">+250</option>
					<option value="251">+251</option>
					<option value="252">+252</option>
					<option value="253">+253</option>
					<option value="254">+254</option>
					<option value="255">+255</option>
					<option value="256">+256</option>
					<option value="257">+257</option>
					<option value="258">+258</option>
					<option value="260">+260</option>
					<option value="261">+261</option>
					<option value="262">+262</option>
					<option value="262">+262</option>
					<option value="263">+263</option>
					<option value="264">+264</option>
					<option value="265">+265</option>
					<option value="266">+266</option>
					<option value="267">+267</option>
					<option value="268">+268</option>
					<option value="269">+269</option>
					<option value="290">+290</option>
					<option value="291">+291</option>
					<option value="297">+297</option>
					<option value="298">+298</option>
					<option value="299">+299</option>
					<option value="350">+350</option>
					<option value="351">+351</option>
					<option value="352">+352</option>
					<option value="353">+353</option>
					<option value="354">+354</option>
					<option value="355">+355</option>
					<option value="356">+356</option>
					<option value="357">+357</option>
					<option value="358">+358</option>
					<option value="359">+359</option>
					<option value="370">+370</option>
					<option value="371">+371</option>
					<option value="372">+372</option>
					<option value="373">+373</option>
					<option value="374">+374</option>
					<option value="375">+375</option>
					<option value="376">+376</option>
					<option value="377">+377</option>
					<option value="378">+378</option>
					<option value="379">+379</option>
					<option value="380">+380</option>
					<option value="381">+381</option>
					<option value="382">+382</option>
					<option value="383">+383</option>
					<option value="385">+385</option>
					<option value="386">+386</option>
					<option value="387">+387</option>
					<option value="389">+389</option>
					<option value="420">+420</option>
					<option value="421">+421</option>
					<option value="423">+423</option>
					<option value="500">+500</option>
					<option value="501">+501</option>
					<option value="502">+502</option>
					<option value="503">+503</option>
					<option value="504">+504</option>
					<option value="505">+505</option>
					<option value="506">+506</option>
					<option value="507">+507</option>
					<option value="508">+508</option>
					<option value="509">+509</option>
					<option value="590">+590</option>
					<option value="591">+591</option>
					<option value="592">+592</option>
					<option value="593">+593</option>
					<option value="595">+595</option>
					<option value="597">+597</option>
					<option value="598">+598</option>
					<option value="599">+599</option>
					<option value="670">+670</option>
					<option value="672">+672</option>
					<option value="673">+673</option>
					<option value="674">+674</option>
					<option value="675">+675</option>
					<option value="676">+676</option>
					<option value="677">+677</option>
					<option value="678">+678</option>
					<option value="679">+679</option>
					<option value="680">+680</option>
					<option value="681">+681</option>
					<option value="682">+682</option>
					<option value="683">+683</option>
					<option value="685">+685</option>
					<option value="686">+686</option>
					<option value="687">+687</option>
					<option value="688">+688</option>
					<option value="689">+689</option>
					<option value="690">+690</option>
					<option value="691">+691</option>
					<option value="692">+692</option>
					<option value="850">+850</option>
					<option value="852">+852</option>
					<option value="853">+853</option>
					<option value="855">+855</option>
					<option value="856">+856</option>
					<option value="880">+880</option>
					<option value="886">+886</option>
					<option value="960">+960</option>
					<option value="961">+961</option>
					<option value="962">+962</option>
					<option value="963">+963</option>
					<option value="964">+964</option>
					<option value="965">+965</option>
					<option value="966">+966</option>
					<option value="967">+967</option>
					<option value="968">+968</option>
					<option value="970">+970</option>
					<option value="971">+971</option>
					<option value="972">+972</option>
					<option value="973">+973</option>
					<option value="974">+974</option>
					<option value="975">+975</option>
					<option value="976">+976</option>
					<option value="977">+977</option>
					<option value="992">+992</option>
					<option value="993">+993</option>
					<option value="994">+994</option>
					<option value="995">+995</option>
					<option value="996">+996</option>
					<option value="998">+998</option>
				</select>
				<input type="text" id="phone" name="phone" placeholder="1234-5678" class="filters5" required /> -->
				<br />
				<br />
				<br />
				<article class="flex_left_profile">
					<img th:src="@{../images/icon/blur_rectangle.png}" class="logo_startup" />
					<p 
						class="CompanyName" 
						th:if="${#strings.isEmpty(corporate.getCorporateName())}">
						<i>Tell us about your company</i></p>
					<p 
						class="CompanyName" 
						th:if="${!#strings.isEmpty(corporate.getCorporateName())}" 
						th:text="${corporate.getCorporateName()}"></p>
					<p class="fas fa-edit" style="color: #5176f6"></p>
				</article>
				<br />
				<br />
				<br />
				<br />
				
				<form id="updatecorporateinfo" th:action="@{/updatecorporateinfo}" method="post">
					<p class="profile_title">Basic Information</p>
					<br />
					<label for="organization_name" class="profile_heading1">Company Name*</label>
					<input 
						type="text" 
						id="organization_name" 
						name="organization_name" 
						placeholder="Input your company name" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(corporate.getCorporateName())} ? ${corporate.getCorporateName()}"/>
					<br />
					<label for="introduction" style="vertical-align: top;" class="profile_heading1">Company Introduction*</label>
					<textarea id="organization_introduction" name="introduction" rows="5" class="filters2" required 
						th:text="${!#strings.isEmpty(corporate.getIntroduction())} ? ${corporate.getIntroduction()}"></textarea>
					<br />
					<label for="email" class="profile_heading1">Company Email*</label>
					<input 
						type="email" 
						id="organization_email" 
						name="email" 
						placeholder="Input your email" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(corporate.getEmail1())} ? ${corporate.getEmail1()}"/>
					<br />
					<label for="phone" class="profile_heading1">Company Phone*</label>
					<select id="organization_areacode" name="areaCode" class="filters">
						<option 
							th:each="code : ${countrycodes}"
							th:value="${code}"
							th:text="${code}"
							th:selected="${#strings.substringBefore(corporate.getPhone(), '-') == code}"></option>
					</select>
					<input 
						type="tel" 
						id="organization_phone" 
						name="phone" 
						placeholder="12345678" 
						class="filters5" required 
						th:value="${!#strings.isEmpty(corporate.getPhone())} ? ${#strings.substringAfter(corporate.getPhone(), '-')} : ''"/>
					<br />
					<label for="website" class="profile_heading1">Company Website*</label>
					<input 
						type="url" 
						id="organization_website" 
						name="website" 
						placeholder="www.startline.vip" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(corporate.getWebsite())} ? ${corporate.getWebsite()}"/>
					<br />
					<label for="employee" class="profile_heading1">Company Size*</label>
					<div style="position: relative; display: inline-block;">
						<input 
							type="text" id="organization_size" name="employee" 
							placeholder="201-500" 
							class="filters2" required 
							th:value="${!#strings.isEmpty(corporate.getCorporateSize())} ? ${corporate.getCorporateSize()}"/>
						<span class="suffix" style="
						position: absolute;
						right: 10%;
						top: 50%;
						transform: translateY(-50%);
						font-size: 12px;
						color: #555;">employees</span>
					</div>
					<br />
					<label for="foundingyr" class="profile_heading1">Founded Year*</label>
					<input 
						type="number" min="1800" max="2100" step="1" 
						id="organization_foundedyear" 
						name="foundingyr" 
						placeholder="2024" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(corporate.getFoundYear())} ? ${corporate.getFoundYear()}"/>
					<div>
						<label for="industry" class="profile_heading1">Industry*</label>
						<select id="organization_industry" name="industry" class="filters2" required>
							<option value="">Select Industry</option>
							<option 
								th:each="industry : ${industries}"
								th:value="${industry}"
								th:text="${industry}"
								th:selected="${corporate.getIndustry() == industry}"></option>
							<option value="Others">Others</option>
						</select>
					</div>
					<div>
						<label for="headquarter" class="profile_heading1">Headquarter Location*</label>
						<select id="organization_headquarter" name="headquarter" class="filters2" required>
							<option value="">Select Country</option>
							<option 
								th:each="country : ${countries}"
								th:value="${country}"
								th:text="${country}"
								th:selected="${corporate.getHeadquarter() == country}"></option>
						</select>
					</div>
					<label for="tag" class="profile_heading1">Tags*</label>
					<div class="tags-input">
						<ul id="tags">
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag0())}" 
								th:text="${corporate.getTag0()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag0())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag1())}" 
								th:text="${corporate.getTag1()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag1())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag2())}" 
								th:text="${corporate.getTag2()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag2())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag3())}" 
								th:text="${corporate.getTag3()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag3())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag4())}" 
								th:text="${corporate.getTag4()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag4())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag5())}" 
								th:text="${corporate.getTag5()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag5())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag6())}" 
								th:text="${corporate.getTag6()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag6())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag7())}" 
								th:text="${corporate.getTag7()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag7())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag8())}" 
								th:text="${corporate.getTag8()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag8())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(corporate.getTag9())}" 
								th:text="${corporate.getTag9()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(corporate.getTag9())}">X</button>
							</li>
						</ul>
						<input type="text" id="input-tag" placeholder="tag1" />
					</div>
					<br />
					<br />
					<!-- ========================================================================== -->
					<p class="profile_title">Team Information</p>
					<div id="TeamContainer">
						<!-- Members -->
						<div class="TeamInfo" th:each="member, stat : ${members}">
							<br />
							<p class="Member_title">
								<span th:text="'Member ' + ${stat.count}"></span>
								<a onclick="deleteElementByAncestor('TeamInfo')">
									<img th:src="@{../images/icon/Trash.png}" class="DeleteRow"/>
								</a>
							</p>
							<label for="member_name" class="profile_heading1">Name*</label>
							<input 
								type="text" 
								name="member_name" 
								placeholder="Input your full name" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(member.getName())} ? ${member.getName()}"
								th:attr="data-member-id=${member.getId() != null} ? ${member.getId()} : '-1'"/>
							<br />
							<label for="member_department" class="profile_heading1">Department*</label>
							<input
								type="text"
								name="member_department"
								placeholder="Input the department you belong to"
								class="filters2" required
								th:value="${!#strings.isEmpty(member.getDepartment())} ? ${member.getDepartment()}"/>
							<br />
							<label for="member_position" class="profile_heading1">Position*</label>
							<input 
								type="text" 
								name="member_position" 
								placeholder="Tell us your role or position" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(member.getRole())} ? ${member.getRole()}"/>
							<br />
							<label for="member_email" class="profile_heading1">Contact Email*</label>
							<input 
								type="email" 
								name="member_email" 
								placeholder="Input your email" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(member.getEmail())} ? ${member.getEmail()}"/>
							<br />
							<label for="member_phone" class="profile_heading1">Contact Number*</label>
							<select name="member_areaCode" class="filters">
								<option 
									th:each="code : ${countrycodes}"
									th:value="${code}"
									th:text="${code}"
									th:selected="${#strings.substringBefore(member.getPhone(), '-') == code}">
								</option>
							</select>
							<input 
								type="tel" 
								name="member_phone" 
								placeholder="12345678" 
								class="filters5" required 
								th:value="${!#strings.isEmpty(member.getPhone())} ? ${#strings.substringAfter(member.getPhone(), '-')} : ''"/>
							<br />
							<label for="member_linkedin" class="profile_heading1">Linkedin URL</label>
							<input
								type="url"
								name="member_linkedin"
								placeholder="https://linkedin.com/company/acel-lab-limited"
								class="filters2"
								th:value="${!#strings.isEmpty(member.getLinkedin())} ? ${member.getLinkedin()}"/>
							<br />
						</div>
					</div>
					<p class="AddRow" onclick="addTeamMembers()">+ Add Member</p>
					<br />
					<br />
					<!-- ========================================================================== -->
					<p class="profile_title">Product List</p>
					<div id="productsContainer">
						<!-- Products -->
						<div class="product" th:each="product, stat : ${products}">
							<br />
							<p class="Products_title">
								<span th:text="'Product ' + ${stat.count}"></span>
								<a onclick="deleteElementByAncestor('product')">
									<img th:src="@{../images/icon/Trash.png}" class="DeleteRow"/>
								</a>
							</p>
							<input type="file" id="fileInput1" name="filename1" /> <input type="file" id="fileInput2" name="filename2" />
							<br />
							<label for="product_name" class="profile_heading1">Product*</label>
							<input 
								type="text" 
								name="product_name" 
								placeholder="Product Name" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(product.getProductName())} ? ${product.getProductName()}"
								th:attr="data-product-id=${product.getId() != null} ? ${product.getId()} : '-1'"/>
							<br />
							<label for="product_description" style="vertical-align: top;" class="profile_heading1">Description*</label>
							<textarea 
								name="product_description" 
								rows="5" 
								class="filters2" required
								th:text="${!#strings.isEmpty(product.getProductDescription())} ? ${product.getProductDescription()}"></textarea>
							<br />
						</div>
					</div>
					<p class="AddRow" onclick="addProducts()">+ Add more products</p>
					<br />
					<br />
					<!-- ========================================================================== -->
					<p class="profile_title">Financials</p>
					<div id="sectionsContainer">
						<!-- Sections -->
						<div class="section" th:each="funding, stat : ${fundings}">
							<br />
							<p class="Financials_title">
								<span th:text="'Round ' + ${stat.count}"></span>
								<a onclick="deleteElementByAncestor('section')">
									<img th:src="@{../images/icon/Trash.png}" class="DeleteRow"/>
								</a>
							</p>
							<label for="announcedDate" class="profile_heading1">Announced Date*</label>
							<input 
								type="date" 
								name="announcedDate" 
								placeholder="YYYY-MM-DD" 
								class="filters2" required
								th:value="${!#strings.isEmpty(funding.getFundingDate())} ? ${#strings.substringBefore(funding.getFundingDate(), ' ')}"/>
							<br />
							<label for="roundInfo" class="profile_heading1">Round Info*</label>
							<select name="roundInfo" class="filters2" th:attr="data-funding-id=${funding.getId() != null} ? ${funding.getId()} : '-1'">
								<option value="">Select funding round</option>
								<option 
									th:each="round : ${fundingrounds}"
									th:value="${round}"
									th:text="${round}"
									th:selected="${funding.getFundingRound() == round}"
									></option>
							</select>
							<br />
							<label for="amountRaised" class="profile_heading1">Amount Raised*</label>
							<input 
								type="text" 
								name="amountRaised" 
								placeholder="Amount raised in USD" 
								class="filters2" required
								th:value="${!#strings.isEmpty(funding.getFundingAmount())} ? ${funding.getFundingAmount()}"/>
							<br />
							<label for="leadInvestors" class="profile_heading1">Lead Investors*</label>
							<input 
								type="text" 
								name="leadInvestors" 
								placeholder="Lead investors' names" 
								class="filters2" required
								th:value="${!#strings.isEmpty(funding.getFundingInvestors())} ? ${funding.getFundingInvestors()}"/>
							<br />
						</div>
					</div>
					<p class="AddRow" onclick="addFinancialRounds()">+ Add financial round</p>
					<br />
					<button type="submit" class="button">Save</button>
					<a th:if="${#strings.isEmpty(corporate.getCorporateName())}" id="Valbutton" class="Valbutton" onclick="promptSave('Corporate')">Verify Account</a>
					<a th:unless="${#strings.isEmpty(corporate.getCorporateName())}" id="Valbutton" class="Valbutton" onclick="verify(event, 'updatecorporateinfo', '/verifycorporate')">Verify Account</a>
				</form>
				<br />
				<br />
				<br />


				<p class="profile_title">Team Member Invitation</p>
				<form id="emailForm" th:action="@{/inviteuser}" method="post">
					<br />
					<label for="email" class="profile_heading1">Team Member Email</label>
					<input type="email" name="email" placeholder="Input your team member's email" class="filters2" required />
					<input type="submit" value="Send Invitation" class="Valbutton" />
				</form>
				<br />
				<br />

				<form th:action="@{/finetunerecommendationmodel}" method="post">
					<p class="profile_title">Company recommendation AI Fine-Tuning</p>
					<br />
					<br />
					<label for="answer1" class="profile_heading_survey">Precisely and consicely describe the key pain points you would want to solve*</label>
					<br />
					<input
						type="text"
						id="survey1"
						name="answer1"
						placeholder="User experience, cost effectiveness, comeptition"
						class="filters2" required/>
					<br />
					<br />
					<label for="answer2" class="profile_heading_survey">What type of category of technology/solutions are you looking for?*</label>
					<br />
					<input 
						type="text" 
						id="survey2" 
						name="answer2" 
						placeholder="Data engineering" 
						class="filters2" required />
					<br />
					<br />
					<button type="submit" class="button">Fine-Tune</button>
				</form>
				<br />
				<br />
				<br />
			</article>
		</div>
		<br />
		<br />
		<br />
	</body>
	<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
	<script th:src="@{../js/smoothScroll.js}"></script>
	<script th:src="@{../js/lightbox-plus-jquery.js}"></script>
	<script th:src="@{../js/features1.js}"></script>
	<script th:src="@{../js/organization_profile_update.js}"></script>
	<script>
		updateOrganizationFormSubmit('updatecorporateinfo');
	</script>
</html>
