<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" th:href="@{../images/logo/Favicon/favicon.png}">
		<link rel="stylesheet" th:href="@{../css/home_style.css}" />
	</head>
	<body>
		<div class="platform" th:object="${user}">
			<article class="menu">
				<article class="menu_top">
					<a href="/"
						><img th:src="@{../images/logo/High Resolution Logo Files/Original on Transparent.png}" class="logo_menu"
					/></a>
					<br />
					<p class="menu_title_2">
						<a href="/home"><img th:src="@{../images/icon/GetStarted.png}" class="icon_menu" />Get Started</a>
					</p>
					<p class="menu_title_2">
						<a href="/profile/startup" th:if="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Startup</a>
						<a href="/profile/corporate" th:unless="${user.getAccountType()}"><img th:src="@{/images/icon/Profile.png}" class="icon_menu" />My Company</a>
					</p>
					<p class="menu_title_2">
						<a href="/search"><img th:src="@{../images/icon/Search.png}" class="icon_menu" />Search</a>
					</p>
				</article>
				<article class="menu_middle">
					<article class="upgradeAds">
						<img th:src="@{../images/icon/Ads.png}" class="icon_menu" />
						<p class="Ad_line1">Unlock data customization with our Business Plan!</p>
						<p class="Ad_line2">Get a personalized solution for your business needs.</p>
						<a href="/settings/plan"><p class="Ad_button">Upgrade your plan</p></a>
					</article>
				</article>
				<article class="menu_bottom">
					<p class="menu_title_4" th:text="${user.getUsername()}"></p>
					<p class="menu_title_5">
						<span class="menu_title_5_1" th:if="${user.getAccountType()}">Startup</span>
						<span class="menu_title_5_1" th:unless="${user.getAccountType()}" th:text="${user.getBusinessPlan()}"></span>
						
						<span class="menu_title_5_2" th:if="${user.getAccountType()}">1/1 seats</span>
						<span class="menu_title_5_2" th:unless="${user.getAccountType()}">1/5 seats</span>
					</p>
					<p class="menu_title_2">
						<a href="/support"><img th:src="@{../images/icon/Support.png}" class="icon_menu" />Support</a>
					</p>
					<p class="menu_title_2">
						<a href="/settings/account"><img th:src="@{../images/icon/Settings.png}" class="icon_menu" />Settings</a>
					</p>
					<p class="menu_title_2">
						<a href="/logout"><img th:src="@{/images/icon/Logout.png}" class="icon_menu" />Logout</a>
					</p>
				</article>
			</article>
			<article class="CustomerType">
				<a href="">
					<article class="CustomerType1">
						<p class="CustomerType_title">Startup</p>
						<p class="CustomerType_description">Update your startup information to share it with companies from all around the world!</p>
					</article>
				</a>
				
				<a href="">
					<article class="CustomerType2" th:class="${user.getAccountType()} ? 'CustomerType2 noAccessRight' : 'CustomerType2'">
						<p class="CustomerType_title">Corporate</p>
						<p class="CustomerType_description">Update your corporate needs so that we can find the technology thats just right for you!</p>
					</article>
				</a>
			</article>
			<article class="profile" th:object="${startup}">
				<br />
				<br />
				<br />
				<article class="flex_left_profile">
					<img th:src="@{../images/icon/blur_rectangle.png}" class="logo_startup" />
					<p 
						class="CompanyName" 
						th:if="${#strings.isEmpty(startup.getStartupName())}">
						<i>Tell us about your company</i></p>
					<p 
						class="CompanyName" 
						th:if="${!#strings.isEmpty(startup.getStartupName())}" 
						th:text="${startup.getStartupName()}"></p>
					<p class="fas fa-edit" style="color: #5176f6"></p>
				</article>
				<br />
				<br />
				<br />
				<br />
				
				<form id="updatestartupinfo" th:action="@{/updatestartupinfo}" method="post">
					<p class="profile_title">Basic Information</p>
					<br />
					<label for="organization_name" class="profile_heading1">Company Name*</label>
					<input 
						type="text" 
						id="organization_name" 
						name="organization_name" 
						placeholder="Input your company name" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(startup.getStartupName())} ? ${startup.getStartupName()}"/>
					<br />
					<label for="introduction" style="vertical-align: top;" class="profile_heading1">Company Introduction*</label>
					<textarea id="organization_introduction" name="introduction" rows="5" class="filters2" required 
						th:text="${!#strings.isEmpty(startup.getIntroduction())} ? ${startup.getIntroduction()}"></textarea>
					<br />
					<label for="email" class="profile_heading1">Company Email*</label>
					<input 
						type="email" 
						id="organization_email" 
						name="email" 
						placeholder="Input your email" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(startup.getEmail1())} ? ${startup.getEmail1()}"/>
					<br />
					<label for="phone" class="profile_heading1">Company Phone*</label>
					<select id="organization_areacode" name="areaCode" class="filters">
						<option 
							th:each="code : ${countrycodes}"
							th:value="${code}"
							th:text="${code}"
							th:selected="${#strings.substringBefore(startup.getPhone(), '-') == code}"></option>
					</select>
					<!-- th:value="${!#strings.isEmpty(startup.getPhone())} ? ${#strings.substringBefore(startup.getPhone(), '-') : ''}" -->
					<input 
						type="tel" 
						id="organization_phone" 
						name="phone" 
						placeholder="12345678" 
						class="filters5" required 
						th:value="${!#strings.isEmpty(startup.getPhone())} ? ${#strings.substringAfter(startup.getPhone(), '-')} : ''"/>
					<br />
					<label for="website" class="profile_heading1">Company Website*</label>
					<input 
						type="url" 
						id="organization_website" 
						name="website" 
						placeholder="www.startline.vip" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(startup.getWebsite())} ? ${startup.getWebsite()}"/>
					<br />
					<label for="employee" class="profile_heading1">Company Size*</label>
					<div style="position: relative; display: inline-block;">
						<input 
							type="text" id="organization_size" name="employee" 
							placeholder="201-500" 
							class="filters2" required 
							th:value="${!#strings.isEmpty(startup.getStartupSize())} ? ${startup.getStartupSize()}"/>
						<span class="suffix" style="
						position: absolute;
						right: 10%;
						top: 50%;
						transform: translateY(-50%);
						font-size: 12px;
						color: #555;">employees</span>
					</div>
					<br />
					<label for="foundingyr" class="profile_heading1">Founded Year*</label>
					<input 
						type="number" min="1800" max="2100" step="1" 
						id="organization_foundedyear" 
						name="foundingyr" 
						placeholder="2024" 
						class="filters2" required 
						th:value="${!#strings.isEmpty(startup.getFoundYear())} ? ${startup.getFoundYear()}"/>
					<div>
						<label for="industry" class="profile_heading1">Industry*</label>
						<select id="organization_industry" name="industry" class="filters2" required>
							<option value="">Select Industry</option>
							<option 
								th:each="industry : ${industries}"
								th:value="${industry}"
								th:text="${industry}"
								th:selected="${startup.getIndustry() == industry}"></option>
							<option value="Others">Others</option>
						</select>
					</div>
					<div>
						<label for="headquarter" class="profile_heading1">Headquarter Location*</label>
						<select id="organization_headquarter" name="headquarter" class="filters2" required>
							<option value="">Select Country</option>
							<option 
								th:each="country : ${countries}"
								th:value="${country}"
								th:text="${country}"
								th:selected="${startup.getHeadquarter() == country}"></option>
						</select>
					</div>
					<label for="tag" class="profile_heading1">Tags*</label>
					<div class="tags-input">
						<ul id="tags">
							<li 
								th:if="${!#strings.isEmpty(startup.getTag0())}" 
								th:text="${startup.getTag0()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag0())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag1())}" 
								th:text="${startup.getTag1()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag1())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag2())}" 
								th:text="${startup.getTag2()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag2())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag3())}" 
								th:text="${startup.getTag3()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag3())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag4())}" 
								th:text="${startup.getTag4()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag4())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag5())}" 
								th:text="${startup.getTag5()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag5())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag6())}" 
								th:text="${startup.getTag6()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag6())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag7())}" 
								th:text="${startup.getTag7()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag7())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag8())}" 
								th:text="${startup.getTag8()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag8())}">X</button>
							</li>
							<li 
								th:if="${!#strings.isEmpty(startup.getTag9())}" 
								th:text="${startup.getTag9()}">
								<button class="delete-button" th:if="${!#strings.isEmpty(startup.getTag9())}">X</button>
							</li>
						</ul>
						<input type="text" id="input-tag" placeholder="tag1" />
					</div>
					<br />
					<br />
					<!-- ========================================================================== -->
					<p class="profile_title">Team Information</p>
					<div id="TeamContainer">
						<!-- Members -->
						<div class="TeamInfo" th:each="member, stat : ${members}">
							<br />
							<p class="Member_title">
								<span th:text="'Member ' + ${stat.count}"></span>
								<a onclick="deleteElementByAncestor('TeamInfo')">
									<img th:src="@{../images/icon/Trash.png}" class="DeleteRow"/>
								</a>
							</p>
							<label for="member_name" class="profile_heading1">Name*</label>
							<input 
								type="text" 
								name="member_name" 
								placeholder="Input your full name" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(member.getName())} ? ${member.getName()}"
								th:attr="data-member-id=${member.getId() != null} ? ${member.getId()} : '-1'"/>
							<br />
							<label for="member_department" class="profile_heading1">Department*</label>
							<input
								type="text"
								name="member_department"
								placeholder="Input the department you belong to"
								class="filters2" required
								th:value="${!#strings.isEmpty(member.getDepartment())} ? ${member.getDepartment()}"/>
							<br />
							<label for="member_position" class="profile_heading1">Position*</label>
							<input 
								type="text" 
								name="member_position" 
								placeholder="Tell us your role or position" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(member.getRole())} ? ${member.getRole()}"/>
							<br />
							<label for="member_email" class="profile_heading1">Contact Email*</label>
							<input 
								type="email" 
								name="member_email" 
								placeholder="Input your email" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(member.getEmail())} ? ${member.getEmail()}"/>
							<br />
							<label for="member_phone" class="profile_heading1">Contact Number*</label>
							<select name="member_areaCode" class="filters">
								<option 
									th:each="code : ${countrycodes}"
									th:value="${code}"
									th:text="${code}"
									th:selected="${#strings.substringBefore(member.getPhone(), '-') == code}">
								</option>
							</select>
							<input 
								type="tel" 
								name="member_phone" 
								placeholder="12345678" 
								class="filters5" required 
								th:value="${!#strings.isEmpty(member.getPhone())} ? ${#strings.substringAfter(member.getPhone(), '-')} : ''"/>
							<br />
							<label for="member_linkedin" class="profile_heading1">Linkedin URL</label>
							<input
								type="url"
								name="member_linkedin"
								placeholder="https://linkedin.com/company/acel-lab-limited"
								class="filters2"
								th:value="${!#strings.isEmpty(member.getLinkedin())} ? ${member.getLinkedin()}"/>
							<br />
						</div>
					</div>
					<p class="AddRow" onclick="addTeamMembers()">+ Add Member</p>
					<br />
					<br />
					<!-- ========================================================================== -->
					<p class="profile_title">Product List</p>
					<div id="productsContainer">
						<!-- Products -->
						<div class="product" th:each="product, stat : ${products}">
							<br />
							<p class="Products_title">
								<span th:text="'Product ' + ${stat.count}"></span>
								<a onclick="deleteElementByAncestor('product')">
									<img th:src="@{../images/icon/Trash.png}" class="DeleteRow"/>
								</a>
							</p>
							<input type="file" id="fileInput1" name="filename1" /> <input type="file" id="fileInput2" name="filename2" />
							<br />
							<label for="product_name" class="profile_heading1">Product*</label>
							<input 
								type="text" 
								name="product_name" 
								placeholder="Product Name" 
								class="filters2" required 
								th:value="${!#strings.isEmpty(product.getProductName())} ? ${product.getProductName()}"
								th:attr="data-product-id=${product.getId() != null} ? ${product.getId()} : '-1'"/>
							<br />
							<label for="product_description" style="vertical-align: top;" class="profile_heading1">Description*</label>
							<textarea 
								name="product_description" 
								rows="5" 
								class="filters2" required
								th:text="${!#strings.isEmpty(product.getProductDescription())} ? ${product.getProductDescription()}"></textarea>
							<br />
						</div>
					</div>
					<p class="AddRow" onclick="addProducts()">+ Add more products</p>
					<br />
					<br />
					<!-- ========================================================================== -->
					<p class="profile_title">Financials</p>
					<div id="sectionsContainer">
						<!-- Sections -->
						<div class="section" th:each="funding, stat : ${fundings}">
							<br />
							<p class="Financials_title">
								<span th:text="'Round ' + ${stat.count}"></span>
								<a onclick="deleteElementByAncestor('section')">
									<img th:src="@{../images/icon/Trash.png}" class="DeleteRow"/>
								</a>
							</p>
							<label for="announcedDate" class="profile_heading1">Announced Date*</label>
							<input 
								type="date" 
								name="announcedDate" 
								placeholder="YYYY-MM-DD" 
								class="filters2" required
								th:value="${!#strings.isEmpty(funding.getFundingDate())} ? ${#strings.substringBefore(funding.getFundingDate(), ' ')}"/>
							<br />
							<label for="roundInfo" class="profile_heading1">Round Info*</label>
							<select name="roundInfo" class="filters2" th:attr="data-funding-id=${funding.getId() != null} ? ${funding.getId()} : '-1'">
								<option value="">Select funding round</option>
								<option 
									th:each="round : ${fundingrounds}"
									th:value="${round}"
									th:text="${round}"
									th:selected="${funding.getFundingRound() == round}"
									></option>
							</select>
							<br />
							<label for="amountRaised" class="profile_heading1">Amount Raised*</label>
							<input 
								type="text" 
								name="amountRaised" 
								placeholder="Amount raised in USD" 
								class="filters2" required
								th:value="${!#strings.isEmpty(funding.getFundingAmount())} ? ${funding.getFundingAmount()}"/>
							<br />
							<label for="leadInvestors" class="profile_heading1">Lead Investors*</label>
							<input 
								type="text" 
								name="leadInvestors" 
								placeholder="Lead investors' names" 
								class="filters2" required
								th:value="${!#strings.isEmpty(funding.getFundingInvestors())} ? ${funding.getFundingInvestors()}"/>
							<br />
						</div>
					</div>
					<p class="AddRow" onclick="addFinancialRounds()">+ Add financial round</p>
					<br />
					<button type="submit" class="button">Save</button>
					<a th:if="${#strings.isEmpty(startup.getStartupName())}" id="Valbutton" class="Valbutton" onclick="promptSave('Startup')">Verify Account</a>
					<a th:unless="${#strings.isEmpty(startup.getStartupName())}" id="Valbutton" class="Valbutton" onclick="verify(event, 'updatestartupinfo', '/verifystartup')">Verify Account</a>
				</form>
				<br />
				<br />
				<br />
			</article>
		</div>
		<br />
		<br />
		<br />
	</body>
	<script th:src="@{../js/lightbox-plus-jquery.js}"></script>
	<script th:src="@{../js/features1.js}"></script>
	<script th:src="@{../js/organization_profile_update.js}"></script>
	<script>
		updateOrganizationFormSubmit('updatestartupinfo');
	</script>
</html>
