<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Startline</title>
		<meta name="author" content="Jeffrey" />
		<meta name="refresh" content="60" />
		<meta name="viewport" contents="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link
			href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/x-icon" th:href="@{./images/logo/Favicon/favicon.png}">
		<link rel="stylesheet" th:href="@{./css/style.css}" />
	</head>
	<body>
		<div class="navigationbar">
			<div class="navigationbox">
				<div class="nav">
					<a href="/"><img th:src="@{/images/logo/High Resolution Logo Files/Original on Transparent.png}" class="nav_logo" /></a>
				</div>
			</div>
		</div>
		<br /><br /><br /><br />
		<div>
			<p class="termsandprivacy_title"><b>Startline User Service Agreement</b></p>
			<p class="termsandprivacy_content">
				<b>I. Acceptance of Terms</b>
				<br />
				<br />
				<span>
					This Startline User Service Agreement (hereinafter referred to as the "Agreement") is a binding contract between you and Acel Lab Limited (“Startline,” “we”, “our” and “us”). Before registering as a Startline user, please carefully read this Agreement to ensure that you fully understand all the terms and conditions herein. Please review it carefully and choose to accept or not accept this Agreement. You can only become a fully registered user of Startline and enjoy various Startline services after you agree to and click to confirm the terms of this Agreement and complete the registration process. Your actions of registering, logging in, and using the service will be deemed as acceptance of this Agreement, and you agree to be bound by all the terms and conditions thereof. If you do not agree to this Agreement or have any questions about its terms, please immediately stop the Startline user registration process and may choose not to use the services of this website.
				</span>
				<br />
				<br />
				<span>
					This Agreement specifies the rights and obligations between Startline and users regarding the Startline services (hereinafter referred to as the "Services"). "User" refers to individuals or entities that register for, log into, and use the Services. This Agreement may be updated by Startline at any time, and the updated terms and conditions will replace the original ones once published, without further notice. Users can review the latest version of the Agreement on their own. After the terms of the Agreement are modified, if users do not accept the revised terms, they should immediately cease using the services provided by Startline. Continued use of the services provided by Startline will be deemed as the user's full understanding, acceptance, and agreement to abide by the latest terms and conditions of the revised Agreement.
				</span>
				<br />
				<br />
				<span>
					Upon clicking the "Agree to Register" button on the Startline registration page, completing the registration process, and obtaining an Startline account and password, the user is deemed to have reached the "Startline User Agreement" with Startline.
				</span>
				<br />
				<br />
				<span>
					Startline hereby specially reminds users that to use Startline services, they must carefully read all terms of this Agreement beforehand (minors should read with the accompaniment of their guardians), especially the terms that exempt, mitigate, or limit Startline's responsibilities, as well as all terms that contain restrictions on user rights.
				</span>
				<br />
				<br />
				<span>
					Actions such as downloading, registering, logging in, using, and connecting to Startline services will be deemed as the user fully understanding, accepting, and agreeing to abide by all contents of this Agreement. This Agreement may be unilaterally modified by Startline at any time. Once the modified agreement terms are published by Startline, they will replace the original terms of this Agreement and constitute the entire and latest agreement between the user and Startline on the subject matter of this Agreement. Users can view the latest agreement terms on the Startline website or Startline application at any time. If the user does not accept the latest agreement terms modified by Startline, they should immediately stop using Startline services. If the user chooses to continue using Startline services, it is deemed that they fully understand, accept, and agree to abide by the latest agreement terms modified by Startline.
				</span>
				<span>
					The user hereby declares that they have fully understood the relevant content of this Agreement without any significant misunderstandings; at the same time, they acknowledge that the content of the Agreement is not unfair.
				</span>
				<br /><br />
				<b> II. User Information Clauses </b>
				<br /><br />
				<span>
					User Personal Information. User personal information includes the following: real name, occupation, avatar, mobile phone number, and IP address.
				</span>
				<br /><br />
				<span>
					Non-User Personal Information. All recorded information reflecting the user's operational status, usage history, usage habits, etc., on the Startline server, as well as all other information outside the scope of user personal information specified in Clause 1 of this Article, is considered ordinary information and does not belong to user personal information.
				</span>
				<br /><br />
				<span>
					Third-Party Platform Recorded Information. Users who register, log in, or use Startline services through third-party platform accounts such as Google, LinkedIn and Facebook (hereinafter referred to as "Third-Party Platforms") will be deemed to have fully understood, agreed to, and accepted that Startline may use, including but not limited to collecting, statistically analyzing, etc., all information filled in, registered, announced, or recorded by them on third-party platforms such as Google, LinkedIn and Facebook (hereinafter referred to as "Third-Party Platform Recorded Information"). Once users use third-party platform accounts to register, log in, or use Startline services, any use of information recorded by such third-party platforms by Startline will be deemed to have obtained the user's full consent and acceptance.
				</span>
				<br /><br />
				<span>
					Important Notice: To provide users with Startline services, Startline may reasonably use user personal information, non-user personal information, and third-party platform recorded information (collectively referred to as "User Information"). Once users register, log in, or use Startline services, it will be deemed that they fully understand, agree to, and accept Startline's reasonable use of user information through methods including but not limited to collection, statistical analysis, and usage.
				</span>
				<br /><br />
				<span>
					Purpose, Method, and Scope of Using User Personal Information. Users acknowledge that they have fully understood: The purpose of Startline using user information is to provide better services to users; the methods of Startline using user information include but are not limited to collection, statistical analysis, commercial use, etc.; the scope of Startline using user information includes but is not limited to the user personal information, non-user personal information, and third-party platform recorded
					information defined in Clauses 1, 2, and 3 of this Article.
				</span>
				<br /><br />
				<span>
					Channels for Users to Query, Correct, and Add Information. Users can query, correct, and add user information authorized for Startline services through relevant functions in Startline services.
				</span>
				<br /><br />
				<span>
					Methods and Consequences of Users Refusing to Provide Information. Users can stop providing user information to Startline by ceasing to use Startline services. However, for user information that users have previously agreed to be used by Startline, Startline does not undertake the responsibility to actively delete or destroy it. If users refuse to provide user information,
					Startline can stop providing services at any time.
				</span>
				<br /><br />
				<span>
					Clarity of User Authorization. The act of users registering, logging in, and using Startline services is deemed as consent for Startline to collect and use their necessary registration information, such as registered email addresses and registered mobile phone numbers. Startline does not need to pay users for the use of their information.
				</span>
				<br /><br />
				<span>
					Startline Commitment. Startline respects the legal rights and free choice rights of authorized users and will not collect or use user information in a manner that violates laws, administrative regulations, or the terms of this Agreement.
				</span>
				<br /><br />
				<span>
					Startline shall not bear any compensation responsibility for any damage caused to any third party due to the improper use of this website's services by users or transactions based on information from this website.
				</span>
				<br /><br />
				<b>III. Rules for Using Startline Services</b>
				<br /><br />
				<span>
					Users fully understand and agree that they shall independently bear full legal responsibility for all actions of registering, logging in, and using Startline services under their accounts, including all user information provided to Startline and all behaviors and events conducted using their Startline service accounts.
				</span>
				<br /><br />
				<span>Users agree to strictly abide by the following rules when using Startline services:</span>
				<br /><br />
			</p>
			<ol class="termsandprivacy_content">
				<li>Comply with laws, regulations, administrative rules, and normative documents;</li>
				<li>
					Comply with all documents related to Startline services, including but not limited to agreements, regulations, procedures, notices, and usage guidelines;
				</li>
				<li>Do not use Startline services for any illegal or criminal purposes;</li>
				<li>Do not use Startline services in any form to infringe upon Startline's legal rights;</li>
				<li>Do not use Startline services to conduct any actions that may adversely affect the normal operation of the Internet;</li>
				<li>
					Do not use Startline services to upload, display, or disseminate any false, harassing, defamatory, racially discriminatory, abusive, intimidating, pornographic, or any other illegal information;
				</li>
				<li>
					Do not infringe in any way on the patent rights, copyrights, trademark rights, trade secrets, and other intellectual property rights of any other person, or the reputation rights of third parties, or any other legitimate rights and interests of third parties;
				</li>
				<li>
					Ensure that the relevant information content displayed on Startline services, including but not limited to the content in the "User Information Clauses" of Article II, does not violate relevant laws and regulations and does not infringe upon the legitimate rights of third parties.
				</li>
			</ol>
			<br />
			<p class="termsandprivacy_content">
				<span>
					Startline has the right to review and supervise users' use of Startline services. If users violate any of the aforementioned agreements when using Startline services, Startline has the right to request users to make corrections or directly take all necessary measures unilaterally to eliminate or mitigate any impact caused by users' improper behavior on Startline, third parties, Internet services, or social public interests. Startline is not required to notify users in any way before, during, or after performing the aforementioned operations.
				</span>
				<br /><br />
				<span>
					While using various services of Startline, users agree to receive various information published, pushed, and provided by Startline.
				</span>
				<br /><br />
				<span>
					You should properly keep your service account and password information. You shall bear all adverse consequences for the loss of your account, password, or other important information due to your own reasons. It is strictly prohibited for you to transfer, authorize, gift, lend, rent, or sell your service account to others in any form. Upon discovery, Startline has the right to immediately ban the service account and terminate the services agreed upon in this Agreement to you without bearing any responsibility for breach of contract.
				</span>
				<br /><br />
				<span>
					When using your account, you must comply with the terms of the "Startline User Agreement". If you initiate a large number of access frequencies in a very short period of time or it is reasonably judged that you are accessing the page in an improper manner (including what can be reasonably judged as through automated means), Startline has the right to take actions such as restricting login and banning your account without bearing any responsibility for breach of contract.
				</span>
				<br /><br />
				<span>
					Users agree that Startline has the right to change, suspend, or terminate some or all of the Startline services at any time. Startline is not required to notify users of this and does not bear any responsibility to users or any third parties as a result.
				</span>
				<b>IV. Disclaimer for Information Disclosure</b>
				<br /><br />
				<span>
					Startline will use user information in accordance with laws, regulations, and industry norms and will not disclose to any unrelated third party any user personal information that can identify individual users or user personal communication information,
					except in the following circumstances:
				</span>
			</p>
			<br />
			<ol class="termsandprivacy_content">
				<li>Prior explicit authorization has been obtained from the user;</li>
				<li>To safeguard the legitimate interests of the public and Startline;</li>
				<li>
					Startline may cooperate with third parties to provide users with related services. In such cases, if the third party agrees to bear the same responsibility for user privacy protection as stipulated in this
				</li>
				<li>In accordance with relevant laws, regulations, and requirements;</li>
				<li>In accordance with the requirements of relevant government authorities and judicial authorities.</li>
			</ol>
			<br /><br />
			<p class="termsandprivacy_content">
				<span>
					Users fully understand and agree that in the event of any one or more of the aforementioned circumstances, Startline shall not bear any responsibility for disclosing user information to any third party.
				</span>
				<br /><br />
				<b>V. Intellectual Property</b>
				<br /><br />
				<span
					>"Intellectual Property" refers to all types of intellectual property related to Startline's services, including but not limited to invention patents, trademarks, copyrights, utility models, industrial designs, layout designs, trade secrets, other intellectual property rights, and related application rights, whether valid in the past, currently valid, or to be generated in the future.
				</span>
				<br /><br />
				<span>
					Startline is the rightful owner of all intellectual property related to Startline's services and retains full and independent rights to all intellectual property contained in the provision of Startline's services, including but not limited to any text, images, graphics, audio, and/or video materials.
				</span>
				<br /><br />
				<span>
					Without the consent of Startline, users may not directly or indirectly publish, broadcast, rewrite for the purpose of broadcasting or publishing, or redistribute any materials or information to which Startline owns the intellectual property rights or that are provided by Startline's services on any media. Users may also not use the aforementioned materials and information for any commercial purposes. Without the written consent and permission of Startline, no one may use them without authorization (including but not limited to: illegal copying, dissemination, display, mirroring, uploading, downloading), or affect the normal services of Startline through unconventional means (such as malicious scraping, attacks, etc.). No one may obtain Startline data automatically through software programs. Otherwise, Startline will pursue legal responsibilities in accordance with the law.
				</span>
				<br /><br />
				<span>
					To ensure the integrity of services and data, Startline provides some information through user contributions and third-party data cooperation. The copyright of this part belongs to the users or third-party data providers, and Startline will make annotations and explanations.
				</span>
				<br /><br />
				<span>
					The copyright of content contributed by users on Startline (including but not limited to companies, comments, personal information, images, etc.) belongs to the users themselves. Users can authorize Startline to use it or authorize third parties to use it.
				</span>
				<br /><br />
				<span>
					The copyright of third-party data referenced by Startline (including but not limited to news, intellectual property, business data, etc.) belongs to the third party. Users need to contact the third party and obtain authorization if they wish to use it.
				</span>
				<br /><br />
				<span>
					For information contributed by users or provided by third-party data, Startline cannot confirm the authenticity, reliability, or ownership of the information. Users need to bear the possible risks or losses resulting from using this information, and Startline does not promise to bear joint liability. For this part of the information, we welcome users to participate and improve it with us. If there are disputes over authenticity, reliability, or intellectual property, please contact info@startline.vip, and we will promptly take down and delete the information.
				</span>
				<br /><br />
				<span>
					For any text, images, graphics, audio, and/or video created and uploaded by users to the Startline website or platform, Startline reserves the right to monitor the content in real-time and has the right to delete any content that violates this agreement or is suspected of being illegal based on Startline's independent judgment. Startline shall not be liable for any consequences arising from the deletion of user works or any losses incurred by users.
				</span>
				<br /><br />
				<span>
					This clause shall remain effective without the written consent of Startline and shall not be invalidated due to the user closing the Startline service account or stopping the use of Startline services.
				</span>
				<br /><br />
				<b>VI. Cancellation Policy</b>
				<br /><br />
				<span>
					Payment Cycle: When a user signs up for our service, they are billed for the upcoming month. The subscription plan runs from the day of payment until the day before the next payment date.
				</span>
				<br /><br />
				<span>
					Refunds: Once a payment date has passed, refunds are not provided for that billing cycle. Users are responsible for the full monthly fee if they cancel after the payment date has passed.
				</span>
				<br /><br />
				<span>
					Termination: Upon cancellation, the subscription will remain active until the end of the current billing cycle and automatic renewal will stop. Users will not be billed for the subsequent month.
				</span>
				<br /><br />
				<span>
					Startline has the sole right to decide whether you are in violation of any of the restrictions set forth in these Terms. You will not be entitled to a refund in these circumstances.
				</span>
				<br /><br />
				<b>VII. Other Disclaimers</b>
				<br /><br />
				<span>
					Information is provided as is. All service information provided by Startline is provided solely based on its current status at the time of provision and is for user reference only. Startline does not make any commitments or guarantees regarding the accuracy, completeness, or applicability of the aforementioned information. Users should make their own judgments about the information provided by Startline and bear any and all risks arising from the use of the aforementioned information, including risks resulting from their reliance or trust in the correctness, completeness, or practicality of the information. Startline shall not be liable for any losses incurred by users due to their use of the information.
				</span>
				<br /><br />
				<span>
					Startline shall not be liable for any losses, including but not limited to the security of user computer information and data,and the security of user personal information, caused by force majeure or reasons that Startline cannot foresee or control (including but not limited to computer viruses or hacker attacks, system instability, improper use of accounts by users, and any other technical, internet, or communication line issues) to users or any third party.
				</span>
				<br /><br />
				<span>
					Users fully understand and agree that any use of Startline's services in a manner that violates laws, regulations, or this agreement, including but not limited to posting illegal, untrue, or improper content on the website, or infringing on the legitimate rights and interests of any third party, shall result in full compensation for any losses caused to Startline or other third parties.
				</span>
				<br /><br />
				<span>
					Users fully understand and agree that during the use of Startline's services, there may be threatening, defamatory, offensive, or illegal content or behavior from any other third party, as well as anonymous, impersonated, or forged information or behavior that infringes on the rights (including intellectual property) of others. Users must independently judge the safety risks of relevant content, information, and behavior, and bear any responsibility independently for any losses caused to Startline or third parties by the aforementioned risks.
				</span>
				<br /><br />
				<span>
					Startline and its partners do not make any form of commitment or guarantee, whether explicit or implied, regarding any and all content of Startline's services. The aforementioned commitments or guarantees include but are not limited to the authenticity, marketability, suitability for specific purposes, any form of ownership guarantee, and non-infringement guarantee of Startline's services. Startline shall not be liable for any direct, indirect, incidental, special, or subsequent damages resulting from the aforementioned uncommitted or unguaranteed content.
				</span>
				<br /><br />
				<b>VIII. Governing Law and Dispute Resolution</b>
				<span>
					The formation, validity, performance, interpretation, and any disputes arising from this agreement shall be governed by the laws of the Hong Kong Special Administrative Region.
				</span>
				<br /><br />
				<span>
					Any disputes between users and Startline related to this agreement shall first be resolved through friendly negotiation. If an agreement cannot be reached through negotiation within thirty days from the date of the dispute, users hereby fully and irrevocably agree to submit the afore mentioned dispute to the court in hongkong or Singapore.
				</span>
				<br /><br />
				<b>IX. Other Provisions</b>
				<span>
					If any clause in this agreement is completely or partially invalid or unenforceable for any reason, it shall not affect the validity of the other clauses of this agreement.
				</span>
				<br /><br />
				<span>
					The final interpretation and modification rights of this agreement and any clause content belong to Startline. If you have any comments on Startline and its services, you are welcome to inquire with Startline.
				</span>
				<br /><br />
			</p>
		</div>
	</body>
</html>
